<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBBful7cP9F6Dgmx9xon-SPMuBX3JqG16g</string>
	<key>GCM_SENDER_ID</key>
	<string>415184194981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ktstudio.platformer</string>
	<key>PROJECT_ID</key>
	<string>mage-piece</string>
	<key>STORAGE_BUCKET</key>
	<string>mage-piece.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:415184194981:ios:903bb487ce1c1caccf6c4c</string>
</dict>
</plist>